.link {
	display: inline-block;
	font-size: 16px;
	color: $color-black;
	font-weight: 600;

	i {
		color: $color-gold;
		font-size: 18px;
	}

	&:hover {
		color: $color-gold;
	}
}
.button {
	display: block;
	background-color: $color-gold;
	width: 245px;
	padding: 15px 0px;
	text-align: center;
	color: $color-white;
	font-size: 16px;

	&:disabled {
		background-color: $color-gray;
		cursor: not-allowed;
	}

	&:not([disabled]):hover {
		background-color: $color-gold-light;
	}

	&_empty {
		padding: 13px 0px;
		color: $color-black;
		background-color: transparent;
		border: 2px solid $color-gold;

		&:disabled {
			color:var(--color-white);
			background-color: $color-gray;
			cursor: not-allowed;
		}

		&:not([disabled]):hover {
			color: $color-white;
			background-color: $color-gold;
		}
	}

	&_gray {
		background-color: $color-gray;

		&:hover {
			color: inherit;
			background-color: $color-gray-light;
		}
	}

	&_gray-dark {
		background-color: $color-gray-dark;

		&:hover {
			color: inherit;
			background-color: $color-gray;
		}
	}
}
.logo {
	display: flex;
	align-items: center;
	margin: 0px 40px 0px 0px;

	img {
		max-width: 58px;
	}
	
	@media (max-width: $md3+px) {
		img {
			max-width: 40px;
		}
	}

	&__text {
		margin: 0px 0px 0px 15px;
		display: block;
		width: 100%;
		max-width: 330px;
		font-size: 15px;
		color: $color-black;
		font-weight: 600;
	}
}
.breadcrumb {
	padding: 0;
	margin: 0px 0px 30px 0px;
	background-color: transparent;
}
.breadcrumb-item {
	margin: 0px 15px 0px 0px;
	a {
		font-size: 16px;
		color: $color-black;

		i {
			padding: 0px 0px 0px 15px;
			font-size: 10px;
		}

		&:hover {
			color: $color-green;

			i {
				color: $color-green;
			}
		}
	}

	&.active {
		color: $color-black;
		margin: 0;
	}

	&:before {
		display: none;
	}
}
.breadcrumb-item+.breadcrumb-item {
	padding: 0;
}
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

#particles-js{
	@media (max-width: 650px) {
		display: none;
	}
}

.form-checking-link{
	padding: 18px 56px;
	background: $color-gold-link;
	border-radius: 8px;
	color: $color-white;
	&:hover{
		color: $color-white;
	}
	margin: 10px 0;
}



.letter-block {
	background: $color-beige;
	padding: 24px;
	border-radius: 8px;
	flex-wrap: nowrap;
	&__type, &__date, &__place{
		margin-bottom: 4px;
		font-size: 10px;
		line-height: 12px;
		color: $color-gray-link;
	}

	&__type {
	}

	&__title {
	}

	&__date {
	}

	&__date-number {
	}

	&__place-title {
	}

	&__place {
	}
}


.test-path{
	max-width: 375px;
	width: 100%;
	height: 75px;
	background: red;
	clip-path: path('M200 68C224.301 68 244 48.3005 244 24C244 21.9648 243.862 19.9618 243.594 18H378C382.418 18 386 21.5817 386 26V93H11V26C11 21.5817 14.5817 18 19 18H156.406C156.138 19.9618 156 21.9648 156 24C156 48.3005 175.699 68 200 68Z');
}
